# Dependencies (ALL folders)
node_modules/

# Environment files (ALL folders)
.env
.env.*
!.env.example

# Build outputs
dist/
build/
.next/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# OS / misc
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo